#root {
  font-family: 'Outfit', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #0098DC;
  color: #ffffff;
  padding: .5rem;
  padding-left: 1rem;
  font-size: .8rem;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
}

.scheduler-container {
  flex: 1;
}

.header3-text{
  background-color: #F6F6F6 !important;
  font-size: .8rem !important;
}
